.slide-list {
    &-items {
        margin-bottom: 1rem;
    }
    &-item {
        background-size: cover;
        background-position: center center;
        &-container {
            @extend .container-fluid;
            min-height: 500px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 0;
            @include media-breakpoint-up(md) {
                align-items: center;
            }
        }
        &-text {
            background-color: rgba($white, 90%);
            padding: 2rem;
            margin: 1rem;
            @include media-breakpoint-up(md) {
                width: 40%;
                margin-right: 5rem;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
        &-button {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn-sm;
        }
    }
    &-button {
        @extend .btn;
        border-radius: 50%;
        flex-shrink: 0;
        background-color: rgba($white, 0.4);
        background-size: 50% 50%;
        background-position: 11px center;
        width: 30px;
        height: 30px;
        @include media-breakpoint-up(md) {
            width: 50px;
            height: 50px;
        }
        &:hover,
        &:focus {
            background-color: $white;
        }
        &-prev {
            background-position: 6px center;
            @include media-breakpoint-up(md) {
                background-position: 11px center;
            }
        }
        &-next {
            background-position: 8px center;
            @include media-breakpoint-up(md) {
                background-position: 13px center;
            }
        }
    }
}
