.slide-list {
    &-container {
        position: relative;
        overflow: hidden;
    }
    &-item {
        background-size: cover;
        background-position: center center;
        &-container {
            @extend .container-fluid;
            min-height: 500px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 0;
            @include media-breakpoint-up(md) {
                align-items: center;
            }
        }
        &-content {
            background-color: rgba($white, 50%);
            padding: 2rem;
            backdrop-filter: grayscale(1) blur(10px);
            margin-bottom: 0;
            @include media-breakpoint-up(md) {
                width: 40%;
                margin-right: 5rem;
            }
        }
        &-button {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn-sm;
        }
    }
    &-button {
    }
}
